---
import DefaultNav from "../../layouts/DefaultNav.astro";
import "../../global.scss";
import { getPages, type Frontmatter } from "../../Frontmatter.ts";
import PageDate from "@/components/pages/PageDate.astro";

export const frontmatter: Frontmatter = {
  title: "pages",
  description: "reference, blog posts, and all that jazz",
};

const posts2 = getPages();

const posts = posts2.filter((a) => process.env.NODE_ENV == "development" || !a.frontmatter.unlisted);
---

<style lang="scss">
  @use "@/lib" as *;
  .entry a {
    display: block;
    color: inherit;
    text-decoration: none;
  }

  .entry .entry-title {
    max-width: max-content;
    margin-top: rem(1.5);
    margin-bottom: rem(0.5);
  }

  .entry .entry-date {
    @include theme-color("blockquote");
  }

  .entry .entry-summary {
    margin: rem(0.5) 0;
  }
  .rss-link:hover {
    color: #ea580c;
    background-color: #fdba74;
    background-color: #fdba7444;

    @include dark() {
      color: #fb923c;
      background-color: #fdba7433;
    }
  }
</style>

<DefaultNav frontmatter={frontmatter}>
  <div class="theme theme-serif ie-page-pages">
    <h1>pages</h1>
    <p>reference, blog posts, and all that jazz</p>
    <a class="fancy-link rss-link sans-serif" href="/feed.xml"
      >RSS feed&nbsp;+</a
    >
    {
      posts.map((a) => {
        return (
          <div class="entry">
            <a href={a.url}>
              <div class="entry-title sans-serif subtle-link h2">{a.frontmatter.unlisted ? "✏️" : ""}{a.frontmatter.title}&nbsp;→</div>
              <p>
                <small class="date">
                  <PageDate
                    date={a.frontmatter.date}
                    updatedDate={a.frontmatter.updatedDate}
                  />
                </small>
              </p>
              {/* {a.frontmatter.description} */}
            </a>
          </div>
        );
      })
    }
  </div>
</DefaultNav>
