---
import DefaultNav from "@/layouts/DefaultNav.astro";
import Banner from "./ttc-zone-map-flat.astro";
import data from "./_data.json";
import PageDate from "@/components/pages/PageDate.astro";

export const frontmatter = {
  title: "the TTC's underground radio zones",
  description: "a list of the TTC underground radio zones and frequencies",
  date: new Date("2025-03-11"),
  updatedDate: new Date("2025-11-30"),
};

const cleanData: ((typeof data)[0] & { footnoteIdx: number })[] =
  Object.assign(data);
let footnoteIdx = 0;

for (let i of cleanData) {
  if (i.footnote) {
    i.footnoteIdx = ++footnoteIdx;
  }
}
---

<style lang="scss">
  @use "@/lib" as *;

  .grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .card {
    margin-bottom: 16px;
    @supports (gap: 1rem) {
      margin-bottom: 0;
    }
    font-size: $text-md;
    line-height: $text-md--line-height;
    @include large() {
      font-size: $text-lg;
      line-height: $text-lg--line-height;
    }
    line-height: 1.6;
  }

  .card-title {
    font-weight: 500;
    font-size: $text-xl;
    line-height: $text-xl--line-height;
    @include large() {
      font-size: $text-2xl;
      line-height: $text-2xl--line-height;
    }
  }
</style>

<DefaultNav frontmatter={frontmatter}>
  <div class="theme-serif fancy-link">
    <Banner />
    <h1>{frontmatter.title}</h1>
    <PageDate date={frontmatter.date} updatedDate={frontmatter.updatedDate} />
    <p>
      The TTC's radio system is transmitted underground through a series of
      radiating cables. I mapped this out myself by visiting most of the TTC
      subway stations, decoding TETRA neighbor cell discovery data, and combing
      through Canada's <a
        href="https://ised-isde.canada.ca/site/spectrum-management-system/en/download-sms-data"
        >Spectrum&nbsp;Mangement&nbsp;System</a
      > data.
    </p>
    <!-- <p>----- <a href="/pages/ttc-radio-data">Click Here!</a></p> -->
    <h2>Zones</h2>
    <p>
      The frequencies listed are the control channel. The secondary downlink for
      each site is +0.1&nbsp;MHz from the control channel.
    </p>
    <div class="grid sans-serif">
      {
        cleanData.map((a) => (
          <div class="card">
            <>
              <div class="card-title">
                {a.name}
                {a.footnoteIdx && <sup>{a.footnoteIdx}</sup>}
              </div>
              <div>
                from{" "}
                <>
                  <b>{a.start}</b>
                  <br />
                </>
                to <b>{a.end}</b>
              </div>
              <div>
                <b>{`${a.freq} MHz`}</b>
              </div>
            </>
          </div>
        ))
      }
    </div>
    {
      cleanData.map(
        (a) =>
          a.footnoteIdx && (
            <p>
              <sup>{a.footnoteIdx}</sup>
              {" : " + a.footnote}
            </p>
          )
      )
    }
    <h2>Line 5</h2>
    <p>
      I haven't been able to find much information about Line 5's transmitter
      site, but I suspect it's LA&nbsp;39 and 40 with a control channel of
      422.3250&nbsp;MHz. I need to investigate more.
      before.
    </p>
  </div>
</DefaultNav>
