---
// import Construction from "../../../components/Construction.astro";
import DefaultNav from "@/layouts/DefaultNav.astro";
import Trains from "./_trains";
import PageDate from "@/components/pages/PageDate.astro";

export const frontmatter = {
  title: "trains!!!",
  description: "A bunch of train graphics for trains I like",
  date: new Date("2024-01-01"),
  updatedDate: undefined,
};
---

<style>
  @keyframes bump {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(12deg);
    }

    60% {
      transform: rotate(-15deg);
    }

    100% {
      rotate: rotate(0deg);
    }
  }

  /* :root {
    --color-fancy-link-text: #3f6212;
    --color-fancy-link-text-hover: #4d7c0f;
    --color-fancy-link-background: #a3e63533;
    --color-fancy-link-background-hover: #bef26433;

    --subtle-link-background-color: #bef26433;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-fancy-link-text: #84cc16;
      --color-fancy-link-text-hover: #a3e635;
      --color-fancy-link-background: #65a30d33;
      --color-fancy-link-background-hover: #84cc1633;

      --subtle-link-background-color: #bef26433;
    }
  } */

  img {
    height: 200px;
  }

  .grid {
    margin-top: 3em;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .grid > div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .grid > div > img {
    justify-self: center;
  }
  h2 {
    margin-bottom: 0.5rem;
  }
</style>

<script>
  document.querySelectorAll("img").forEach((img) => {
    img.addEventListener("mouseover", () => {
      if (img.style.animation !== "bump 0.5s") {
        img.style.animation = "bump 0.5s";
      }
    });

    img.addEventListener("animationend", () => {
      img.style.animation = "";
    });
  });
</script>

<DefaultNav frontmatter={frontmatter}>
  <main>
    <article class="page-view">
      <h1>trains!!!</h1>
      <PageDate date={frontmatter.date} updatedDate={frontmatter.updatedDate} />
      <p>
        Original svgs can be downloaded from the
        <a class="fancy-link" href="https://github.com/adryd325/train-graphics"
          >github repository →</a
        >. Somewhat styled after
        <a class="fancy-link" href="https://mutant.tech"
          >Mutant Standard Emojis →</a
        >. Remember to pet the trains!
      </p>

      <div class="grid">
        {
          Trains.map((train) => (
            <div>
              <img alt={train.alt} src={train.image.src} />
              <div>
                <h2>{train.location}</h2>
                {train.name}
              </div>
            </div>
          ))
        }
      </div>
    </article>
  </main>
</DefaultNav>
